@tailwind base;
@tailwind components;
@tailwind utilities;

/* import Univers font from local */

@font-face {
  font-family: "Univers";
  src: url("../public/fonts/UniversLTStd/UniversLTStd.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Univers-Bold";
  src: url("../public/fonts/UniversLTStd/UniversLTStd-BoldEx.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
}

body {
  @apply bg-neutral-50 font-Univers;
}

header {
  @apply font-UniversBold;
}

* {
  @apply text-neutral-800;
}
