@tailwind base;
@tailwind components;
@tailwind utilities;

/* import Univers font from local */

@font-face {
  font-family: "Univers";
  src: url("../public/fonts/NunitoSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 900;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
